{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}



{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
        <a class="btn btn-success" href="/" role="button">Strona główna</a>
    {% endif %}
{% endblock fos_user_content %}
